{% extends "base.html" %}
{% block title %}Feed{% endblock %}
{% block page %}
<div class="w-full flex flex-wrap">
    {% for project in projects %}
    <a href="/projetos.html" class="w-full md:w-1/2 lg:w-1/4 px-4 py-4">
        <div class="mx-auto max-w-sm rounded overflow-hidden shadow-lg">
            <img class="w-full h-40 my-auto object-fit" src="{{project.image}}" alt="Sunset in the mountains">
            <div class="px-6 py-4">
                <div class="font-bold text-2xl mb-2">{{project.title}}</div>
                <p class="text-gray-700 text-base">
                    {{project.desc}}
                </p>
            </div>
            <div class="px-6 py-4">
                {% for tag in project.tags %}
                <span class="inline-block bg-gray-200 rounded px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{tag}}</span>
                {% endfor %}
                <span class="inline-block bg-gray-200 rounded px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
                <span class="inline-block bg-gray-200 rounded px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
                <span class="inline-block bg-gray-200 rounded  px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}