{% extends "base.html" %}
{% block title %}Pesquisa{% endblock %}
{% block page %}
<head>
		<link rel="stylesheet" href="/static/style.css" type="text/css"></link>
		<link rel="stylesheet" href="/static/Switch.css" type="text/css"></link>
	<style>
		.gradient {
			background: linear-gradient(90deg, #0075F2 0%, #0B7A75 100%);
        }
	</style>
</head>
<body>
<div class="gradient flex flex-col md:flex-row sm:flex-row justify-center pt-12 my-12 md:my-4 sm:my-4">
	<div class="flex flex-col w-2/3 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg mt-4">
		<div style="background-color: #19535F"class="flex-1text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
			<div class="p-3 text-3xl font-bold text-center border-b-4">Pesquisa</div>
			<form>
			<ul class=" text-2xl w-full text-center text-sm">
				<li class=" border-b py-2"><span class="text-red-500">*</span>Universidade<br><label><input class="ml-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded text-gray-500 leading-tight focus:outline-none focus:bg-gray-200 focus:border-gray-600" id="idCampus" type="text" placeholder="USP"></label>
				</li>
				<li class="border-b py-2"><span class="text-red-500">*</span>Campus<br><label><input class="ml-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded text-gray-500 leading-tight focus:outline-none focus:bg-gray-200 focus:border-gray-600" id="idCampus" type="text" placeholder="Leste"></label>
				</li>
				<li class="border-b py-2">Instituição<br><label><input class="ml-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded text-gray-500 leading-tight focus:outline-none focus:bg-gray-200 focus:border-gray-600" id="idCampus" type="text" placeholder="EACH"></label>
				</li>
				<li class="border-b py-2">Curso<br><label><input class="ml-1 bg-gray-200 appearance-none border-2 border-gray-200 rounded text-gray-500 leading-tight focus:outline-none focus:bg-gray-200 focus:border-gray-600" id="idCampus" type="text" placeholder="SI"></label>
				</li>
				<li class="border-b py-2">Possui Bolsa<label class="ml-1 switch"><input type="checkbox"><span class="slider round"></span></label>
				</li>
			</ul>
			<form>

		</div>
		<div style="background-color: #19535F"class="flex-none mt-auto rounded-b rounded-t-none overflow-hidden shadow p-1">
			<div class="flex items-center justify-center">
				<button class="gradient mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg">Pesquisar</button>
			</div>
		</div>
	</div>

</div>

</div>	
</body>


{% endblock %}